## Load the dataset into the Python environment:

In [1]:
import pandas as pd
# Read the dataset
dataset = pd.read_csv('titanic_dataset.csv')

## Do all the necessary pre-processing steps:

In [2]:
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
# Drop irrelevant columns
dataset.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

# Handle missing values
dataset['Age'].fillna(dataset['Age'].mean(), inplace=True)
dataset['Embarked'].fillna(dataset['Embarked'].mode()[0], inplace=True)

# Convert categorical variables to numerical
dataset = pd.get_dummies(dataset, columns=['Sex', 'Embarked'], drop_first=True)

# Separate features (X) and the target variable (y)
X = dataset.drop('Survived', axis=1)
y = dataset['Survived']

## Create kNN and SVM models:

In [5]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
# Create kNN model
knn_model = KNeighborsClassifier()
# Create SVM model
svm_model = SVC()

## Perform k-fold and stratified k-fold cross-validation and calculate average accuracy scores:

In [6]:
from sklearn.model_selection import cross_val_score, StratifiedKFold, KFold

# Perform k-fold cross-validation on kNN model
kfold = KFold(n_splits=10, shuffle=True, random_state=42)
knn_scores = cross_val_score(knn_model, X, y, cv=kfold)
knn_avg_accuracy = knn_scores.mean()

# Perform stratified k-fold cross-validation on SVM model
stratified_kfold = StratifiedKFold(n_splits=10, shuffle=True, random_state=42)
svm_scores = cross_val_score(svm_model, X, y, cv=stratified_kfold)
svm_avg_accuracy = svm_scores.mean()
print('\nAverage Accuracy (kNN):', knn_avg_accuracy)
print('Average Accuracy (SVM):', svm_avg_accuracy)

Average Accuracy (kNN): 0.6958302122347066
Average Accuracy (SVM): 0.677852684144819